@model CompetencyFrameworkWebsite.Models.TechnologyModel

@using CompetencyFrameworkWebsite.Controllers
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("Index", "Home"))
{
    <div style="padding: 10px">
       @Html.DropDownList("Technologies", new SelectList(Model.Technologies))
        <input type="submit" class="btn btn-default" value="Select">
    </div>
}

<p id="demo"></p>

@{
    <script>
        function myFunction() {
            var x = document.getElementById("technologies").value;
            document.getElementById("demo").innerHTML = x;
        }
    </script>


   }      
@{
    if (IsPost)
    {


    }




}