@model CompetencyFrameworkWebsite.Models.JobTitleModel
@{
    ViewBag.Title = "Job Title";
}

<form method="post" action="">
    <div>
        <select>
        @{
           
         }
        </select>
    </div>
</form>