@model CompetencyFrameworkWebsite.Models.TechnologyModel

@using CompetencyFrameworkWebsite.Controllers
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "CreateAUserIndex";
}


@using (Html.BeginForm("CreateAUserIndex", "CreateAUser"))
{
    <form>
        <div class = "form-group">
            <h5>Create A User</h5>
            <p><label class="col-md-4 control-label">First Name:</label></p>
            <p><input type="text" class="form-control" placeholder=" " name="FirstName"></p>
            <p><label class="col-md-4 control-label">LastN Name:</label></p>
            <p><input type="text" class="form-control" placeholder=" " name="LastName"></p>
            <p><label class="col-md-4 control-label">Email Address:</label></p>
            <p><input type="text" class="form-control" placeholder=" " name="EmailAddress"></p>
            <p><input type="submit" class="btn btn-default" value="Submit"></p>
        </div>
    </form>
    
}

