@model CompetencyFrameworkWebsite.Models.ResultsModel
@using CompetencyFrameworkWebsite.Controllers
@using Microsoft.Ajax.Utilities

@{

    ViewBag.Title = "Results";
}





<div style="padding: 10px">
    
  

    <textarea>
    @{ 
        //var returnAll = new List<Competency>(Model.Results);


        foreach (var result in ViewBag.Results)
        {
           @result
            }

    }
</textarea>
</div>
