@model CompetencyFrameworkWebsite.Models.ResultsModel
@using CompetencyFrameworkWebsite.Controllers
@using Microsoft.Ajax.Utilities

@{

    ViewBag.Title = "Results";
}





<div style="padding: 10px">

    <form>

        
       @{



           foreach (var result in Model.Results)
           {

           
                   @result.AreaName;<br />
           
                   @result.CompetencyName;<br />
             
                   @result.RatingName; <br />

                   @result.TopicName;<br />

               
           }

       }



    </form>  
</div>
